/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/logs/vole-auth/*.log
/logs/vole-config-server/*.log
/logs/vole-eureka-server/*.log
/logs/vole-gateway/*.log
/logs/vole-mps/*.log
/logs/vole-passport/*.log
/logs/vole-portal-data/*.log
/logs/vole-portal/*.log
