[mysqld]
character-set-server = utf8mb4
skip_name_resolve = 1
port	= 3306
user=mysql
default-storage-engine=INNODB
default_time_zone = "+8:00"
max_connections = 512
#注意：MySQL 8.0开始，binlog_expire_logs_seconds选项也存在的话，会忽略expire_logs_days选项
expire_logs_days = 7
lower_case_table_names = 2
[client]
port	= 3306
[mysql]
prompt="\u@mysqldb \R:\m:\s [\d]> "
no-auto-rehash

[mysqldump]
quick
max_allowed_packet = 32M